<div class="small-8 small-centered columns">
	<h2>Welcome</h2>
	<h3>Please take some time to fill out your profile further</h3>
	<hr>
	<%= render 'form' %>

	<%= link_to 'Back', userprofiles_path %>
</div>