<ul class="pricing-table">
	<li class="title">Advertisment</li>
 	<li class="price">The Cloth Shop</li>
 	<li class="description">
 		<p>Ireland's best selection of fabric and haberdashery</p>
	 	<ul class="small-block-grid-3"> 
	 		<li><img src="http://www.theclothshop.ie/image/cache/data/velvetgreencitrus-245x190.jpg"><p>Citrus Green Velvet</p></li> 
	 		<li><img src="http://www.theclothshop.ie/image/cache/data/spring/pinkvelvet-265x200.jpg"><p>Hot Pink Velvet</p></li> 
	 		<li><img src="http://www.theclothshop.ie/image/cache/data/spring/gunmetalvelvet-265x200.jpg"><p>Chocolate Brown Velvet</p></a></li> 
	 	</ul>
 </li>
 	<li class="cta-button"><a class="button" href="http://www.theclothshop.ie/" target="_blank">Buy Now</a></li>
</ul>