<h1>Glossary</h1>

<div class="instructions">
          <section id="Fabric_Bolt">
            <div class="page-header">
              <h1>Fabric Bolt</h1>
            </div>
  
            <p>A bolt is a unit of measurement used as an industry standard for a variety of materials from wood to canvas, typically materials stored in a roll. The length is usually either 40 or 100 yards but varies depending on the fabric being referred to, for example, a bolt of canvas is traditionally 39 yards. The width of such a bolt can also vary. Widths may include 35–36”, 39”, 41”, 44–45”, 50”, 52–54", 58–60” and 66”, 72", 96", and 108".</p>  
          </section>

          <section id="Backstitch">
            <div class="page-header">
                <h1>Backstitch  </h1>
            </div>
         
            <p> Used at the beginning and end of a machine sewn seam to anchor the seam in place; it involves a couple of extra stitches back and forth. (Also known as back tacking.)
           </p>
          </section>
          
          <section id="Baste/basting">
            <div class="page-header">
                <h1>Baste/basting</h1>
            </div>
            <p>Temporary stitching used to hold a sewing project in place and is removed when the permanent sewing is done. </p>
          </section>

          <section id="Bias_tape">
            <div class="page-header">
                <h1>Bias tape</h1>
            </div>
            <p>Strips of fabric cut on the bias, often turned under and pressed, and used for bindings, facings, or other application where there is a need for stretch or accommodation to curves. </p>
          </section>

          <section id="Bobbin">
            <div class="page-header">
                <h1>Bobbin</h1>
            </div>
            <p>The piece of your sewing machine that holds the bottom thread (the bobbin thread) and is placed in the bobbin case. It generally is under the area the needle penetrates and it loops with the needle thread to form a locked stitch.
            </p>
          </section>

          <section id="Bobbin_case">
            <div class="page-header">
                <h1>Bobbin case</h1>
            </div>
            <p>The part of the sewing machine that holds the bobbin. In some machines, it's under the needle plate. Some older machines had them next to the needle plate with a clear lid that slides in order to get to the bobbin.</p>
          </section>

          <section id="Fold_line">
            <div class="page-header">
                <h1>Fold line</h1>
            </div>
            <p>Many pattern pieces are placed on the fold of a piece of fabric. This is the actual fold of the fabric off the bolt or a fold of your own creation; the goal is to have a pattern piece that is cut out without a center seam.
            </p>
          </section>

          <section id="Grain">
            <div class="page-header">
                <h1>Grain</h1>
            </div>
            <p>Direction of the fabric that runs parallel to the selvage (a stretchier grain is found running perpendicular to the selvage). Commercial patterns have an arrow on them &lt;-----&gt; indicating direction of the grain to assist in laying out the pattern pieces correctly.</p>
          </section>

          <section id="Hem">
            <div class="page-header">
                <h1>Hem</h1>
            </div>
            <p>Fabric that it turned up on the lower edge of a garment or sleeve to provide a finished edge. </p>
          </section>

          <section id="Hong_Kong_finish">
            <div class="page-header">
                <h1>Hong Kong finish</h1>
            </div>
            <p>  Enclosing a seam with bias binding. Tutorial off site, which shows exactly how to make and attach the binding</p>
          </section>

          <section id="Interfacing">
            <div class="page-header">
                <h1>Interfacing</h1>
            </div>
            <p>A material (available in a variety of weights/thicknesses/flexibility) used between layers of fabric to provide stabilization and form. Usually used in collars, cuffs, plackets, some waistbands and pockets, and facings. It is available in a fusible or sewn in form. </p>
          </section>

          <section id="Lining">
            <div class="page-header">
                <h1>Lining</h1>
            </div>
            <p>Used to finish the inside of a garment, to hide the seam construction, to allow for ease of putting a garment on or taking it off, and to provide decorative effect. A lining is cut of the same pattern pieces as the garment and often is made of "slippery" fabrics. It provides a minimal amount of warmth and usually extends the life of a garment. Linings should be washable if the garment is washable and should be prewashed.</p>
          </section>

          <section id="Needle">
            <div class="page-header">
                <h1>Needle</h1>
            </div>
            <p>Sewing machine needles come in a variety of sizes and types - ball point and sharps are the two major categories. Ball point is used for knits and regular sharp needles are used for nonstretch fabrics. There are also all purpose needles, but it is recommended that you use ball point or regular rather than all purpose. There are wing needles, wedge needles, needles of varying sizes and shapes, as well as twin needles for some fancier stitching. </p>
          </section>

          <section id="Pattern_weights">
            <div class="page-header">
                <h1>Pattern weights</h1>
            </div>
            <p>Weights used on paper patterns instead of pinning a pattern to the fabric.</p>
          </section>

          <section id="Pins">
            <div class="page-header">
                <h1>Pins</h1>
            </div>
            <p>Pins are used for temporary basting of fabric. They are used to hold patterns in place while cutting and to hold fabrics together while stitching (it is not recommended to machine sew over pins as they have been known to break your sewing machine needle, jam the machine, or cause other problems). Often, large safety pins are used to baste quilt layers before the final quilting. Care should be taken to use a pin that will not leave a large hole and to not leave pins in fabric too long; they could cause stains where they touch the fabric. </p>
          </section>

          <section id="Presser_foot">
            <div class="page-header">
                <h1>Presser foot</h1>
            </div>
            <p>The part of the sewing machine that holds the fabric in place as it is being sewn and fed through by the feed dogs. Specialty feet such as zigzag, buttonhole, cording, blind hem, and others are often included with a sewing machine upon purchase and are best learned by consulting the sewing machine manual.</p>
          </section>

          <section id="Prewashing">
            <div class="page-header">
                <h1>Prewashing</h1>
            </div>
            <p>Prewashing  Washing fabric before using it for a garment or project to allow for any color bleeding and shrinkage. It is best to prewash the fabric as it is to be cleaned and dried when it is in its finished form. (Also known as preshrinking.)</p>
          </section>

          <section id="Raw_Edge">
            <div class="page-header">
                <h1>Raw Edge</h1>
            </div>
            <p>The edge of fabric that is not stitched or finished.</p>
          </section>

          <section id="Rotary_cutter">
            <div class="page-header">
                <h1>Rotary cutter</h1>
            </div>
            <p>Early versions of the rotary cutter looked like pizza cutters. Today, the handles are often ergonomically designed and padded. The blade, though, remains a rounded razor, sometimes with pinked edging or other designs. These are great for cutting layers of fabric into straight strips. Many people are using them for curved lines and pattern cutting for garments as well.</p>
          </section>

          <section id="Seam_allowance">
            <div class="page-header">
                <h1>Seam allowance</h1>
            </div>
            <p>The fabric between the edge of the fabric and the line of stitching, about 5/8" for most patterns. (Craft patterns often allow 1/4" seam allowance.) </p>
          </section>

          <section id="Seam_ripper">
            <div class="page-header">
                <h1>Seam ripper</h1>
            </div>
            <p>Your best friend in the sewing room. It is a tool with a small hook on one end that can slip under a stitch and get close enough to it to cut the stitch. I personally have learned as much about sewing with my seam ripper as I have with making stitches by hand or machine.</p>
          </section>

          <section id="Selvedge">
            <div class="page-header">
                <h1>Selvedge (selvege, selvage)</h1>
            </div>
            <p>Often marked with information from the manufacturer (color code, identifying data, etc.), this is the edge of the fabric which generally does not fray due to manufacturer's finish. In most cases, this edge should not be included when you cut your fabric, as it may cause puckering of your seam later. on. </p>
          </section>

          <section id="Stay_stitch">
            <div class="page-header">
                <h1>Stay stitch</h1>
            </div>
            <p>A line of stitching just inside the intended permanent stitching line (seam line) on curved edges that stabilizes and keeps the curve from distorting. The direction of the stay stitching is shown on the pattern. If not, it generally goes from shoulder to center on necklines. There are other indications for stay stitching, but this is one of the more common. If you do clip curves, use stay stitching first to guide the tip of your scissors - don't cut beyond the stay stitching.</p>
       </section>

          <section id="Stitch_length">
            <div class="page-header">
                <h1>Stitch length</h1>
            </div>
            <p>In general, regular sewing is about 11-12 stitches per inch, basting/gathering/bunching/sleeve easing is about 6 stitches per inch (plus or minus 1 or 2 stitches for some applications). There are rare occasions when stitches need to exceed 12 per inch, but they are few. Stitch length for zigzag is the same as with regular straight stitching; it refers to the number of stitches per inch. The scale varies from machine to machine, so be sure and check your manual. A satin stitch can be created using a zigzag stitch length of zero. </p>
          </section>

          <section id="Top_stitch">
            <div class="page-header">
                <h1>Top stitch</h1>
            </div>
            <p>A sometimes decorative, sometimes functional stitch that is usually 1/4" from the edge of a seam.</p>
          </section>
        </div>