<!-- <div class="row">
  <div class="large-12 columns">
    <video id="firstStop" controls="controls" poster="http://www.itseasyaspi.com/images/1mainImage.jpg" >
      <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" type="video/mp4" />
      <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.webm" type="video/webm" />
      <source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.ogv" type="video/ogg" />
    </video>
  </div>
</div> -->


<!-- Content Slider -->

    <div class="row">
      <div class="large-12 hide-for-small">
        <div id="feature firstStop" data-orbit>
            <%= image_tag("main_1200x500.jpg", :alt => "completed skirt") %>
            <img src="http://placehold.it/1200x500&text=Slide Image 2" alt="slide image">
            <img src="http://placehold.it/1200x500&text=Slide Image 3" alt="slide image">
          </div>
    </div>
  </div>
  <!-- End Content Slider -->

  <!-- Mobile Header -->

    <div class="row">
      <div class="large-12 columns show-for-small">
        <%= image_tag("main_510x300.jpg", :alt => "completed skirt") %>
      </div>
    </div><br>

  <!-- End Mobile Header -->


<div class="row"  >
  <div class="large-12 columns">
    <div class="row">
  	<!-- Thumbnails -->
      <div class="large-3 small-6 columns">
        <img src="http://placehold.it/250x250&text=Thumbnail" />
        <h6 class="panel">Description</h6>
      </div>

      <div class="large-3 small-6 columns">
        <img src="http://placehold.it/250x250&text=Thumbnail" />
        <h6 class="panel">Description</h6>
      </div>

      <div class="large-3 small-6 columns">
        <img src="http://placehold.it/250x250&text=Thumbnail" />
        <h6 class="panel">Description</h6>
      </div>

      <div class="large-3 small-6 columns">
        <img src="http://placehold.it/250x250&text=Thumbnail" />
        <h6 class="panel">Description</h6>
      </div>
  <!-- End Thumbnails -->
    </div>
  </div>
</div>

<a class="large button expand" href="#">Load More</a>

<!-- Tour Buttons --> 
<ol class="joyride-list" data-joyride> 
  <li data-id="firstStop" data-text="Next" data-options="tip_location:bottom;tip_animation:fade"> 
    <p>Hello and welcome to easy as pi, watch the video to find more...</p> 
  </li> 
  <li data-id="step1" data-class="custom so-awesome" data-text="Next">  
    <h4>Stop #1</h4> 
    <p>See what other lovely visitors to the site have made.</p> 
  </li> 
  <li data-id="step2" data-button="Next" data-options="tip_location:top;tip_animation:fade"> 
    <h4>Stop #2</h4> 
    <p>Like the look of what you see? Go sign in or go directly to the pattern maker.</p> 
  </li> 
</ol>

<script>
$(document).foundation('joyride', 'start');
</script>



 